*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow: 'auto';
}

@media screen and (max-width: 660px) {
  body {
    height: 670px;
    width: 100%;
    overflow: 'auto';
  }
}
